<footer class="footer col-md-8 col-md-offset-2">
  <nav>
    <ul>
      <li><%= link_to "全てのユーザー", admins_users_path %></li>
      <li><%= link_to "全ての自作PC", admins_customs_path %></li>
    </ul>
  </nav>
</footer>