<footer class="footer">
  <small>
    <%= link_to "Home", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
    </ul>
  </nav>
</footer>