<footer class="footer">
  <small>
    <%= link_to "Home", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "自作PCを作る",   "#" %></li>
      <li><%= link_to "説明を飛ばす", "#" %></li>
    </ul>
  </nav>
</footer>